<h1>Showing article information</h1>

<p><b>Title: </b><%=@article.title%></p>
<p><b>Description: </b><%=@article.description%></p>
<p><b>By: </b><%=@article.user.username if @article.user%></p>


<p><%= link_to 'Back', articles_path %></p>
<p><%= link_to 'Edit', edit_article_path(@article) %></p>
<p><%= link_to 'Delete', article_path(@article), data: { turbo_method: :delete, turbo_confirm: 'Are you sure you want to delete this article?' } %></p>
