<%= render "shared/errors", obj: @user%>

<%= form_with model: @user, data: { turbo: false }  do |f|%>
    <div>
        <%= f.label :username%> <br>
        <%= f.text_field :username%>
    </div>

    <div>
        <%= f.label :email%> <br>
        <%= f.text_field :email%>
    </div>

    <div>
        <%= f.label :password%> <br>
        <%= f.password_field :password%>
    </div>

    <%= f.submit "Sign up"%>
<% end %>